<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            <ion-col text-center> Welcome {{userEmail}} !</ion-col>
            <ion-col text-center>
                <ion-button (click)="logout()">Log out</ion-button>
            </ion-col>

        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content fullscreen>
    <ion-list>
        <ion-item-sliding *ngFor="let listTodo of listTodos$ | async">
            <div *ngIf="listTodo.admin == userEmail ||
            includesEmailRead(listTodo) ||
            includesEmailWrite(listTodo)">
                <ion-item [routerLink]="'/todoslist/'+listTodo.id">
                    <ion-label>
                        <h2>{{ listTodo.title }}</h2>
                    </ion-label>
                </ion-item>

                <ion-item-options side="end">
                    <ion-item-option color="danger" (click)="delete(listTodo)">
                        <ion-icon slot="top" name="trash"></ion-icon>
                    </ion-item-option>
                </ion-item-options>
            </div>
        </ion-item-sliding>
    </ion-list>
    <section>
        <ion-button expand="block" [routerDirection]="'root'" [routerLink]="'/addtodolist'">Create new tout doux list</ion-button>
    </section>
</ion-content>