<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            <ion-col text-center>
                <ion-button (click)="logout()">Log out</ion-button>
            </ion-col>
            <ion-col text-center>
                <ion-button (click)="retourList()">Retourner aux listes</ion-button>
            </ion-col>
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content fullscreen>
    <ion-list>
        <ion-item-sliding *ngFor="let todo of todos">
            <div *ngIf="canRead || canWrite">
                <ion-item>
                    <ion-label>
                        <h2>{{ todo.title }}</h2>
                    </ion-label>
                </ion-item>

                <ion-item-options side="end">
                    <div *ngIf="canWrite">
                        <ion-item-option color="danger" (click)="delete(todo)">
                            <ion-icon slot="top" name="trash"></ion-icon>
                        </ion-item-option>
                    </div>
                </ion-item-options>
            </div>
        </ion-item-sliding>
    </ion-list>
    <section>
        <div *ngIf="canWrite">
            <ion-button expand="block" [routerDirection]="'root'" [routerLink]="'/addtodo/'+this.idTodolist">Add a New tout doux</ion-button>
            <ion-button expand="block" (click)="partager()">Partager la liste</ion-button>
        </div>
    </section>
</ion-content>