<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      <ion-col text-center> Welcome {{this.authService.userDetails().email}} !</ion-col>
      <ion-col text-center> <ion-button (click)="logout()">Log out</ion-button> </ion-col>

    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen>
  <ion-list>
    <ion-item-sliding *ngFor="let todo of todos$ | async">
      <ion-item>
        <ion-label>
          <h2>{{ todo.title }}</h2>
        </ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="delete(todo)">
          <ion-icon slot="top" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <section>
  <ion-button expand="block" [routerDirection]="'root'"
  [routerLink]="'/addtodo'">Add a New tout doux</ion-button>
  </section>
</ion-content>
